/* :root {
  ---background-color: #fff;
  ---secondary-bg-color: #dfdddd;
  ---main-page-bg-color: #1f2223;
  ---text-color: #000;
} */
.light-theme {
  ---background-color: #fff;
  ---secondary-bg-color: #dfdddd;
  ---main-page-bg-color: #1f2223;
  ---text-color: #000;
}

.dark-theme {
  ---background-color: #1f2223;
  ---secondary-bg-color: #3f3f3f;
  ---main-page-bg-color: #fff;
  ---text-color: #fff;
}

.app {
  background-color: var(---main-page-bg-color);
  height: calc(100vh - 80px);
  padding-top: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(---text-color);
  padding: 0 20px;
  height: 80px;
  background-color: var(---background-color);
}

.phone {
  margin: 20px auto;
  width: 300px;
  height: 500px;
  text-align: center;
  background-color: var(---background-color);
  color: var(---text-color);
  border-radius: 15px;
  padding-top: 40px;
}
.timer {
  margin-bottom: 100px;
}
.clock {
  font-size: 60px;
}
.notification {
  width: 80%;
  height: 60px;
  background-color: var(---secondary-bg-color);
  margin: 20px auto;
  border-radius: 15px;
}

.theme-toggle-btn {
  background-color: var(---background-color);
  color: var(---text-color);
  padding: 10px 15px;
  border: 1px solid var(---text-color);
  border-radius: 15px;
  font-weight: 800;
}

.details {
  color: var(---text-color);
  width: 90%;
  margin: 10px auto;
  border-radius: 15px;
}
.details h2 {
  border: 1px solid var(---text-color);
  padding: 5px;
}
